<% layout("/layouts/boilerplate") %>

<body>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-5 mb-5">

        <div class="card col" style="width: 18rem;">
          <img 
            src="https://lyko.com/globalassets/product-images/clarins-ever-matte-compact-powder-01-very-light-1078-300-0005_1.jpg?ref=962626&w=2880&h=2880&mode=max&quality=75&format=jpg" 
            class="card-img-top" 
            alt="listings_image" 
            style="height: 18rem;">
          <div class="card-body">
            <p class="card-text">
              <b>FACES CANADA Weightless Stay Matte Powder | Oil Control Compact  (Ivory, 9 g)</b> <br><br>
              <b>&#8377;169</b> <br><br>
              ForAllYourFaces Faces Canada Weightless Matte Finish Compact Ivory 01 9g Look fresh, oil-free and picture perfect all day with the Faces Canada Weightless Matte Finish Compact. A light-weight face compact which will render the skin with a natura
            </p> <br>
            <a href="#" class="btn btn-primary">Buy Now</a>
            <br><br>
          </div>
        </div>


        <div class="card col" style="width: 18rem;">
            <img 
              src="https://rukminim1.flixcart.com/image/1664/1664/lipstick/5/k/g/maybelline-4-2-new-york-color-sensational-lip-color-original-imaepzgcumxhrtsa.jpeg?q=90" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>SWISS BEAUTY Two in One Lip Liner & Lip Filler Burgundy 12  (Burgundy)</b> <br><br>
                <b>&#8377;199</b> <br><br>
                Shade
                Burgundy
                Waterproof
                Yes
                Smudge-free
                Yes
                Size
                1.1
                Color
                Red
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>

          <div class="card col" style="width: 18rem;">
            <img 
              src="https://tse1.mm.bing.net/th?id=OIP.mxky_Kvmmcj4sa8uN8wDGwHaHa&pid=Api&P=0&h=220" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>Dermatouch Bright & Even Tone with Niacinamide, Vitamin E and Kojic Acid Face Wash  (30 g)</b> <br><br>
                <b>&#8377;1,000</b> <br><br>
                For Men & Women
                Cream Based
                For All Skin Types
                Applied For: Cleansing. 
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>

          <div class="card col" style="width: 18rem;">
            <img 
              src="https://thebeautylookbook.com/wp-content/uploads/2022/06/Dae-Cactus-Fruit-Styling-Cream-1440x2159.jpg" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>Joy Hairfall Defence Conditioning Shampoo' Promotes Hair Growth  (650 ml)</b> <br><br>
                <b>&#8377;1,200</b> <br><br>
                Anti-hair Fall, Anti-dandruff
                Hair Type
                All Hair Types
                Ideal For
                Men & Women
                pack_of
                1
                Net Quantity
                650 ml 
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>

          <div class="card col" style="width: 18rem;">
            <img 
              src="https://tse3.mm.bing.net/th?id=OIP.-xuf5Uf8pK9pzUwnBmHRdQHaHa&pid=Api&P=0&h=220" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>MYN Professional 4Pc Saloon Hair Dye Brush Kit: Hair Color Brushes & Mixing Bowl Set</b> <br><br>
                <b>&#8377;999</b> <br><br>
                For Men & Women
             Hair Coloring
                Bristle Type: Plastic
              Pack of: 4
                Professional Care
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>

          <div class="card col" style="width: 18rem;">
            <img 
              src="https://m.media-amazon.com/images/I/61RB5dHJJbL._AC_SL1500_.jpg" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>BIOTIQUE BIO APRICOT 190ml(body wash) Pack of 2  (2 x 190 ml</b> <br><br>
                <b>&#8377;569</b> <br><br>
                Stylish and modern dress for men. 
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>


  </div>


</body>