<% layout("/layouts/boilerplate") %>


<body>

    <div class="blog-container">
        <h2>Latest from Our Blog</h2>
        <div class="blog-grid">
            <div class="blog-card">
                <img src="https://tse1.mm.bing.net/th?id=OIP.JfmZujC-oxQfceBsssqgjwHaEl&pid=Api&P=0&h=220" alt="Blog Image">
                <div class="blog-content">
                    <h3>5 Must-Have Fashion Trends</h3>
                    <p>Discover the latest fashion trends you need to upgrade your wardrobe this season.</p>
                    <a href="/ecommerce/home" class="read-more">Read More</a>
                </div>
            </div>
            <div class="blog-card">
                <img src="https://wallpapers.com/images/hd/e-commerce-pictures-v42cbouq8oens6k8.jpg" alt="Blog Image">
                <div class="blog-content">
                    <h3>How to Save Money While Shopping Online</h3>
                    <p>Learn expert tips on how to get the best deals and discounts when shopping online.</p>
                    <a href="/ecommerce/home" class="read-more">Read More</a>
                </div>
            </div>
            <div class="blog-card">
                <img src="https://multiable.com.sg/wp-content/uploads/2020/06/iStock-1051616786-2048x1365.jpg" alt="Blog Image">
                <div class="blog-content">
                    <h3>Top Gadgets You Need in 2025</h3>
                    <p>Check out the latest tech gadgets that can make your life easier and more fun.</p>
                    <a href="/ecommerce/home" class="read-more">Read More</a>
                </div>
            </div>
        </div>

        
        <div class="blog-grid">
            <div class="blog-card">
                <img src="https://primewomen.com/wp-content/uploads/2023/11/online-shopping-or-Temu-and-Shein.jpg" alt="Blog Image">
                <div class="blog-content">
                    <h3>5 Must-Have Fashion Trends</h3>
                    <p>Discover the latest fashion trends you need to upgrade your wardrobe this season.</p>
                    <a href="/ecommerce/home" class="read-more">Read More</a>
                </div>
            </div>
            <div class="blog-card">
                <img src="https://img.freepik.com/premium-photo/ecommerce_553012-58886.jpg" alt="Blog Image">
                <div class="blog-content">
                    <h3>How to Save Money While Shopping Online</h3>
                    <p>Learn expert tips on how to get the best deals and discounts when shopping online.</p>
                    <a href="/ecommerce/home" class="read-more">Read More</a>
                </div>
            </div>
            <div class="blog-card">
                <img src="https://tse2.mm.bing.net/th?id=OIP.ajHR9Viocw1TiSg3cr6VmwHaD4&pid=Api&P=0&h=220" alt="Blog Image">
                <div class="blog-content">
                    <h3>Top Gadgets You Need in 2025</h3>
                    <p>Check out the latest tech gadgets that can make your life easier and more fun.</p>
                    <a href="/ecommerce/home" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>

</body>

