<% layout("/layouts/boilerplate") %>


<body>

    <div class="blog-container">
        <h2>Bestsellers in your City</h2>
        <div class="blog-grid">
            <div class="blog-card">
                <img src="https://assetscdn1.paytm.com/images/catalog/product/F/FA/FASFORTUNE-REFIBIGB985832523CB54C/1561495623788_6.jpg" alt="Blog Image">
                <div class="blog-content">
                    <h3>FORTUNE Sunlite Refined Sunflower Oil Pouch (Surjomukhir Tel)  (1 L)</h3>
                    <p>In The Box
                        Brand
                        FORTUNE
                        Model Name
                        Sunlite Refined
                        Type
                        Sunflower Oil
                        Quantity
                        1 L
                        Used For
                        Cooking
                        Processing Type
                        Cold Pressed
                        Maximum Shelf Life
                        273 Days</p>
                    <a href="#" class="read-more">Buy Now</a>
                </div>
            </div>
            <div class="blog-card">
                <img src="https://rukminim1.flixcart.com/image/832/832/kqidx8w0/edible-oil/y/y/r/kachi-ghani-pouch-mustard-oil-fortune-original-imag4gb3y5auktfg.jpeg?q=70" alt="Blog Image">
                <div class="blog-content">
                    <h3>FORTUNE Kachi Ghani Pure Mustard Oil Jar (Sarsher Tel)  (2 L)</h3>
                    <p>In The Box
                        Brand
                        FORTUNE
                        Model Name
                        Kachi Ghani Pure
                        Type
                        Mustard Oil
                        Quantity
                        2 L
                        Used For
                        Cooking
                        Processing Type
                        Cold Pressed
                        Maximum Shelf Life
                        12 Months
                        Food Preference
                        Vegetarian
                        Container Type
                        Jar
                       ritional claims, etc. We recommend</p>
                    <a href="#" class="read-more">Buy Now</a>
                </div>
            </div>
            <div class="blog-card">
                <img src="https://tse4.mm.bing.net/th?id=OIP.OONQP5_xrOyiNNYfw8SHAwHaHa&pid=Api&P=0&h=220" alt="Blog Image">
                <div class="blog-content">
                    <h3>Amul Pure Ghee Ghee 1 L Tetrapack</h3>
                    <p>In The Box
                        Brand
                        FORTUNE
                        Model Name
                        Kachi Ghani Pure
                        Type
                        Mustard Oil
                        Quantity
                        2 L
                        Used For
                        Cooking
                        Processing Type
                        Cold Pressed
                        Maximum Shelf Life
                        12 Months
                        Food Preference
                        Vegetarian</p>
                    <a href="#" class="read-more">Buy Now</a>
                </div>
            </div>

            <div class="blog-card">
                <img src="https://i5.walmartimages.com/asr/db78d226-6e2d-49d2-a148-3935c1ed746e.b316e8c8fbee186a993b11eb9155f8c4.jpeg" alt="Blog Image">
                <div class="blog-content">
                    <h3>Bingo Salt Sprinkled Potato Chips  (85 g)</h3>
                    <p>Whoever looked at the potato in the ground and decided to eat it, was a true visionary. Because if it wasnt for him/ her, centuries later we wouldnt have had the brilliant idea of making crispy potato chips Salted potato chips have been a part of our lives since we were kids even our birthday parties were incomplete wit</p>
                    <a href="#" class="read-more">Buy Now</a>
                </div>
            </div>
            <div class="blog-card">
                <img src="https://tse3.mm.bing.net/th?id=OIP.IAVLdW2rdhZLGUmcfUPrlwHaEK&pid=Api&P=0&h=220" alt="Blog Image">
                <div class="blog-content">
                    <h3>Lay’s Magic Masala Chips  (3 x 82 g)</h3>
                    <p>In The Box
                        Cooking
                        Processing Type
                        Cold Pressed
                        Maximum Shelf Life
                        12 Months
                        Food Preference
                        Vegetarian</p>
                    <a href="#" class="read-more">Buy Now</a>
                </div>
            </div>
            <div class="blog-card">
                <img src="https://www.rationatmydoor.com/wp-content/uploads/2019/04/lays-assorted.jpg" alt="Blog Image">
                <div class="blog-content">
                    <h3>Lay’s Magic Masala Chips  (3 x 82 g)</h3>
                    <p>In The Box
                        Cooking
                        Processing Type
                        Cold Pressed
                        Maximum Shelf Life
                        12 Months
                        Food Preference
                        Vegetarian</p>
                    <a href="#" class="read-more">Buy Now</a>
                </div>
            </div>
            <div class="blog-card">
                <img src="https://cdn-attachments.timesofmalta.com/2b73436a0b327235760b76ea0dc826a95be4f6d7-1469773993-579af8a9-1200x630.jpg" alt="Blog Image">
                <div class="blog-content">
                    <h3>Fanta Orange Flavoured Soft Drink PET Bottle  (2.25 L)</h3>
                    <p>In The Box
                        Cooking
                        Processing Type
                        Cold Pressed
                        Maximum Shelf Life
                        12 Months
                        Food Preference
                        Vegetarian</p>
                    <a href="#" class="read-more">Buy Now</a>
                </div>
            </div>
            <div class="blog-card">
                <img src="https://m.media-amazon.com/images/I/61+jGc7vLIL._SL1500_.jpg" alt="Blog Image">
                <div class="blog-content">
                    <h3>Maaza Mango  (1.2 L)</h3>
                    <p>In The Box
                        Cooking
                        Processing Type
                        Cold Pressed
                        Maximum Shelf Life
                        12 Months
                        Food Preference
                        Vegetarian</p>
                    <a href="#" class="read-more">Buy Now</a>
                </div>
            </div>

        </div>
    </div>

</body>

