<% layout("/layouts/boilerplate") %>

<body>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-5 mb-5">

        <div class="card col" style="width: 18rem;">
          <img 
            src="https://tse1.mm.bing.net/th?id=OIP.1aoFYr7cRCHXhM4P60KWeAHaJo&pid=Api&P=0&h=220" 
            class="card-img-top" 
            alt="listings_image" 
            style="height: 18rem;">
          <div class="card-body">
            <p class="card-text">
              <b>Blazer</b> <br><br>
              <b>&#8377;1,699</b> <br><br>
              Stylish and modern dress for men.
            </p> <br>
            <a href="#" class="btn btn-primary">Buy Now</a>
            <br><br>
          </div>
        </div>


        <div class="card col" style="width: 18rem;">
            <img 
              src="https://tse4.mm.bing.net/th?id=OIP.4NWplDRA_So6pPgAhoKfygHaLI&pid=Api&P=0&h=220" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>Printed Blazer</b> <br><br>
                <b>&#8377;1,999</b> <br><br>
                Stylish and modern dress for men.
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>

          <div class="card col" style="width: 18rem;">
            <img 
              src="https://oldnavy.gap.com/webcontent/0019/840/890/cn19840890.jpg" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>Pant</b> <br><br>
                <b>&#8377;1,000</b> <br><br>
                Stylish and modern dress for men. 
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>

          <div class="card col" style="width: 18rem;">
            <img 
              src="https://tse3.mm.bing.net/th?id=OIP.rfatlseE_MPZGXT6mu5FYAAAAA&pid=Api&P=0&h=220" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>Shirt and Pant</b> <br><br>
                <b>&#8377;1,200</b> <br><br>
                Stylish and modern dress for men. 
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>

          <div class="card col" style="width: 18rem;">
            <img 
              src="https://tse2.mm.bing.net/th?id=OIP.YWLqzwgxHxFZSlDSM1uMtAHaHn&pid=Api&P=0&h=220" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>Boot</b> <br><br>
                <b>&#8377;999</b> <br><br>
                Stylish and modern dress for men. 
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>

          <div class="card col" style="width: 18rem;">
            <img 
              src="https://www.jennywrenfootwear.co.uk/images/red-tape-mens-leather-gladiator-summer-sandals-p825-27250_image.jpg" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>Kito</b> <br><br>
                <b>&#8377;569</b> <br><br>
                Stylish and modern dress for men. 
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>


  </div>


</body>