
<nav class="navbar navbar-expand-md bg-primary border-bottom ">
    <div class="container-fluid">
     
      <a class="navbar-brand" href="/owner"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto fn">
          <a class="nav-link" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a class="nav-link" href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
          <a class="nav-link" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a class="nav-link" href="https://web.telegram.org/" target="_blank"><i class="fa-brands fa-twitter"></i></a>

          
        </div>
      </div>
    </div>
  </nav>


  