<% layout("/layouts/boilerplate") %>

<body>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-5 mb-5">

        <div class="card col" style="width: 18rem;">
          <img 
            src="https://tse3.mm.bing.net/th?id=OIP.CqnmXlI_NNWdsGLDdhHypgAAAA&pid=Api&P=0&h=220" 
            class="card-img-top" 
            alt="listings_image" 
            style="height: 18rem;">
          <div class="card-body">
            <p class="card-text">
              <b>Floral Print Pattern</b> <br><br>
              <b>&#8377;999</b> <br><br>
              Boasting a timeless floral printed pattern, this women's dress stands out with its vibrant and delicate design. The print is thoughtfully arranged to add a touch of elegance and femininity, making it a versatile choice for various occasions. So, if you're attending a casual gathering or a more formal event, the floral pattern ensures you look stylish and graceful.
            </p> <br>
            <a href="#" class="btn btn-primary">Buy Now</a>
            <br><br>
          </div>
        </div>


        <div class="card col" style="width: 18rem;">
            <img 
              src="https://tse1.mm.bing.net/th?id=OIP.GsGrAme4uib1bN8slMPY0wHaLH&pid=Api&P=0&h=220" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>Women Maxi Green Dress</b> <br><br>
                <b>&#8377;2,000</b> <br><br>
                Boasting a timeless floral printed pattern, this women's dress stands out with its vibrant and delicate design. The print is thoughtfully arranged to add a touch of elegance and femininity, making it a versatile choice for various occasions. So, if you're attending a casual gathering or a more formal event, the floral pattern ensures you look stylish and graceful.
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>

          <div class="card col" style="width: 18rem;">
            <img 
              src="https://i5.walmartimages.com/asr/2a01a68e-4d60-47b3-8c50-6252d2305206_1.02ffaa84dd8e67571867839f3c7ed36c.jpeg" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>Women Heels Sandal  (Black , 7)</b> <br><br>
                <b>&#8377;1,800</b> <br><br>
                A curated collection showcasing the latest trends in black strappy heels, offering a variety of designs that blend style and comfort. These heels are perfect for both casual and formal occasions.
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>

          <div class="card col" style="width: 18rem;">
            <img 
              src="https://www.tennisnuts.com/images/product/full/T566N_3207_o3.jpg" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>Classic Coloring Ankle Boot</b> <br><br>
                <b>&#8377;1,200</b> <br><br>
                This timeless ankle boot is crafted from high-quality black leather, featuring a sleek design with a rounded toe and a comfortable low heel. Its versatile style makes it suitable for both casual and formal occasions, pairing well with jeans, skirts, or dresses. The durable construction ensures long-lasting wear, while the classic design remains a staple in any wardrobe.
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>

          <div class="card col" style="width: 18rem;">
            <img 
              src="https://tse4.mm.bing.net/th?id=OIP.HWnQMhhxEv3obybqJyuBDgHaHa&pid=Api&P=0&h=220" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>OULM Brand Original Unique Design Square Men's Wristwatch</b> <br><br>
                <b>&#8377;5,999</b> <br><br>
                This distinctive wristwatch features a wide, square dial with a casual leather strap, offering a bold and modern look. Its unique design makes it a standout accessory for any fashion-forward individual.
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>

          <div class="card col" style="width: 18rem;">
            <img 
              src="https://tse1.mm.bing.net/th?id=OIP.xoBozXOKG-SLZkRH9iwhjAHaHa&pid=Api&P=0&h=220" 
              class="card-img-top" 
              alt="listings_image" 
              style="height: 18rem;">
            <div class="card-body">
              <p class="card-text">
                <b>Luxury Personalized Engraved Men's Watch</b> <br><br>
                <b>&#8377;10,000</b> <br><br>
                A sophisticated timepiece crafted with attention to detail, featuring a personalized engraving option. This watch combines luxury and individuality, making it an ideal gift for special occasions.
              </p> <br>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <br><br>
            </div>
          </div>


  </div>


</body>